{% extends "ticketing/base_page.html" %}

{% block title %}
فهرست سینما ها
{% endblock title %}

{% block tolbar_title %}
فهرست سینما ها
{% endblock tolbar_title %}

{% block tolbar_buton %}

<a class="btn btn-light py-1 px-2" href="{% url "ticketing:movie_list" %}">
    <i class="fas fa-film"></i>
    فیلم ها
</a>
<a class="btn btn-light py-1 px" href="{% url "ticketing:cinema_list" %}">
    <i class="fas fa-building"></i>
    سینما ها
</a>
{% endblock tolbar_buton %}

{% block main_content %}
    <div class="row">
        <div class="col py-3">
            {% if cinemas %}
                <ul class="item-list">
                    {% for cinema in cinemas %}
                        <li>
                            <a href="{% url "ticketing:cinema_details" cinema_id=cinema.id %}">
                                <i class="fas fa-film"></i>
                                {{ cinema }}

                                <small class="text-muted">
                                    ({{ cinema.city }})
                                </small>

                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="alert alert-danger">
                    در حال حاضر هیچ سینمایی برای نمایش وجود ندارد
                </div>
            {% endif %}
        </div>
    </div>


{% endblock main_content %}